#welcome-title{
    background-image: linear-gradient( to right,blue,violet);-webkit-background-clip: text;-webkit-text-fill-color: transparent;
    text-align: center;
    margin:0;
}

@media (min-width: 365px) {
    #welcome-title{
        font-size: 3.5rem;
    }
  }

@media (min-width: 576px) {
    #welcome-title{
        font-size: 4.5rem;
    }
  }

  @media (min-width: 600px) {
    #welcome-title{
        font-size: 5.5rem;
    }
  }

  @media (min-width: 768px) {
    #welcome-title{
        font-size: 7.5rem;
    }
  }

  @media (min-width: 992px) {
    #welcome-title{
        font-size: 8.5rem;
    }
  }

  @media (min-width: 1200px) {
    #welcome-title{
        font-size: 9.5rem;
    }
  }
